@model IEnumerable<DotNetCorePOC.Models.Restaurant>


<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link href="/node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div>
        @foreach (var r in Model)
        {
            <div>
                @r.Id
            </div>
            <div>
                @r.Name
            </div>
            
            <a asp-action="Details" asp-route-id="@r.Id">Details</a>
        }

       @await Component.InvokeAsync("Greeting")

    </div>
</body>
</html>